body {
    margin: 0;
}

.hidden {
    display: none;
}

.tabs {
    width: 100%;
    height: 30px;
    border-bottom: solid 1px #CCC;
    padding-right: 2px;
    margin-top: 30px;
}

a {
    cursor: pointer;
}

.tabs li {
    float: left;
    list-style: none;
    border-top: solid 1px #CCC;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
}

.tabs li.active {
    border-color: #AAA;
}

.tabs li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    padding: 5px 8px 8px 8px;
    display: block;
    color: #666;
    background: #EEE;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
    border-bottom: solid 1px #CCC;
}

.tabs li.active a{
    color: #5685BC;
    background-color: #FFF;
    text-decoration: none;
    outline: none;
    border-bottom: none;
}

.tabs li.active a:hover, #tabs li a:hover {
    color: #5685BC;
    outline: none;
}

.container {
    margin: 1em;
}